$COLOR_NASLOV: rgb(8, 231, 247);
$COLOR_WHITE: white;
$COLOR_BLACK: black;
$COLOR_BACKGROUND_HEADER: rgb(27, 26, 31);
$COLOR_BACKGROUND_FOOTER: rgb(14, 13, 17);

$COLOR_BUTTON: linear-gradient(
  rgb(27, 26, 31),
  rgb(126, 118, 156),
  rgb(27, 26, 31)
);
$COLOR_BUTTON_HOVER: linear-gradient(
  rgb(27, 26, 31),
  rgb(53, 223, 235),
  rgb(27, 26, 31)
);
$COLOR_BACKGROUND_HOME: linear-gradient(
  rgb(27, 26, 31),
  rgb(126, 118, 156),
  rgb(27, 26, 31)
);

$COLOR_KORISNIK: linear-gradient(
  rgb(135, 138, 135),
  rgb(234, 238, 234),
  rgb(52, 53, 52)
);

$COLOR_LABELA_LOGIRANJE: rgb(252, 253, 253);
$COLOR_LABELA: rgb(8, 231, 247);
$COLOR_BUTTON_INFO: rgb(0, 204, 255);
$COLOR_BUTTON_INFO_HOVER: rgb(4, 150, 187);
