$POSITION_ABSOLUTE: absolute;
$POSITION_FIXED: fixed;
$POSITION_RELATIVE: relative;

$DISPLEY_FLEX: flex;
$FLEX_DIRACTION_ROW: row;
$FLEX_WRAP: wrap;
$JUSTIFY_CONTENT_SPACE_BETWEN: space-between;

$URL_ICON_CHAT: "./assets/images/Chat.png";
