.forma_poruke {
  display: flex;
  flex-direction: column;
  position: absolute;
  border: 1px solid rgb(0, 247, 255);
  background-color: rgba(12, 12, 12, 0.4);
  box-shadow: 9px 9px rgba(12, 12, 12, 0.1);
  top: 50px;
  height: 550px;
  left: 40px;
  width: 90%;
  padding: 10px;
}

.lijevo {
  position: relative;
  display: flex;
  margin-left: 1%;
  padding: 5px;
  min-height: 70px;
  width: 80%;

  .ikona_lijevo {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 80px;
  }

  .ikona_lijevo_polozaj {
    position: relative;
    left: 0px;
    top: -10px;
  }

  .box_korisnik_lijevo {
    position: absolute;
    top: 50px;
    height: 20px;
    width: 80px;
  }
  .korisnik_lijevo {
    position: relative;
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .poruka_lijevo {
    overflow-wrap: break-word;
    word-wrap: break-word;
    hyphens: auto;
    margin: 0 auto;
    max-width: 70%;
    padding: 15px;
    padding-left: 10px;
    border-radius: 10px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 14px;
    background-color: rgb(4, 253, 253);
    margin-left: 80px;
    color: black;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 18px;
  }
}

.desno {
  position: relative;
  display: flex;
  margin-left: 20%;
  padding: 5px;
  min-height: 70px;
  width: 80%;
}

.poruke_desno {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  margin: 0 auto;
  margin-right: 75px;
  max-width: 70%;
  padding: 15px;
  padding-right: 10px;
  border-radius: 10px;
  color: rgb(250, 248, 248);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
  background-color: rgb(5, 187, 5);
  text-align: right;
}

.ikona_desno {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  width: 80px;
  right: 10px;
}
.ikona_desno_polozaj {
  position: relative;
  left: 0px;
  top: -10px;
}
.box_korisnik_desno {
  position: absolute;
  top: 50px;
  height: 20px;
  width: 80px;
}

.korisnik_desno {
  position: relative;
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.noviKorisnik {
  background-image: linear-gradient(
    rgb(3, 22, 6),
    rgb(247, 134, 4),
    rgb(3, 22, 6)
  );
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  padding: 5px;
  color: rgb(252, 248, 248);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}

.napustioKorisnik {
  background-image: linear-gradient(
    rgb(104, 4, 82),
    rgb(185, 70, 185),
    rgb(104, 4, 82)
  );
  border-bottom-left-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-right-radius: 30px;
  text-align: center;
  padding: 5px;
  color: rgb(250, 250, 250);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 18px;
}
